@import "../../../../assets/styles/helper";
.over {
  animation: rotator 1.5s ease-in-out infinite;
  stroke-dasharray: 107, 38;
}
.bag {
  position: absolute;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 51.2px;
  height: 51.2px;
  position: fixed;
  top: 50%;
  left: 50%;
  line-height: 100%;
  z-index: z("common-loader");
}
