<div class="spinner">
  <svg class="bag" height="100" width="100">
    <circle
      cx="50"
      cy="50"
      r="40"
      stroke="#F8BBD0"
      stroke-width="3"
      fill="none"
    ></circle>
  </svg>
  <svg class="over" height="100" width="100">
    <circle
      cx="50"
      cy="50"
      r="40"
      stroke="#E91E63"
      stroke-width="3"
      fill="none"
    >
      <animate
        attributeType="CSS"
        attributeName="stroke-dasharray"
        from="1,254"
        to="247,56"
        dur="5s"
        repeatCount="indefinite"
      />
    </circle>
  </svg>
</div>
