.main-wrapper {
  min-height: 85vh;
  width: 100%;
  position: relative;
}

.header-wrapper {
  height: 10vh;
}

.footer-wrapper {
  height: 10vh;
}

.scroll-cards {
  height: 92vh;
  overflow-y: scroll;
}
