.main-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  @media screen and (max-width: 699px) {
    width: 40%;
  }
}

.header-wrapper {
  height: 10vh;
}

.footer-wrapper {
  height: 10vh;
}

.scroll-cards {
  height: 92vh;
  overflow-y: scroll;
}
