<article>
  <figure>
    <img imgLazyLoadDirective [src]="rocketImageLink" [alt]="missionName" />
    <figcaption>
      <p>
        <strong>{{ missionName }} #{{ flightNumber }}</strong>
      </p>
    </figcaption>
  </figure>
  <section>
    <p><strong>Mission Ids:</strong></p>
    <ul>
      <li *ngFor="let id of missionIds">{{ id }}</li>
    </ul>
    <table>
      <tr>
        <td>
          <p><strong>Launch Year:</strong></p>
        </td>
        <td>
          <p>{{ launchYear }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Successful Launch:</strong></p>
        </td>
        <td>
          <p>{{ successfulLaunch }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong>Successful Landing:</strong></p>
        </td>
        <td>
          <p>{{ successfulLanding ? successfulLanding : "N/A" }}</p>
        </td>
      </tr>
    </table>
  </section>
</article>
