@import "../../../../assets/styles/helper";
aside {
  main {
    min-height: 50vh;
    background-color: $spWhite;
    margin: 0 1em 1em 0;
    padding: 0.5em 0.5em 4em 0.5em;
    border-radius: 4px;
    section {
      p {
        text-align: center;
        font-size: 0.8em;
        margin: 0.5em 0 0 0;
        color: $spFilterLabel;
      }
      hr {
        margin: 0.2em 1em;
      }
      section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        button {
          flex-basis: 40%;
          margin: 0.5em 0;
          background-color: $spBtnLight;
          padding: 0.5em;
          border: 0;
          border-radius: 0.5em;
          outline: none;

          &:hover {
            background-color: $spBtnHover;
          }
        }
      }
    }
  }
}

.btn-active {
  background-color: $spBtnActive !important;
}
