// Colors
// These are prefixed with $fs (FRONTLINE Selling)
// so as to not have any naming collisions with
// other libraries or applications

$spThemeBg: #f2f2f2;
$spBtnLight: #c5e09b;
$spBtnActive: #7cba01;
$spBtnHover: #7cba01;
$spCardValue: #535da5;
$spFilterLabel: #747474;

$spOrange: #ee3d24;
$spBlack: #231f20;
$spWhite: #ffffff;
$spRed: #c92020;
$spGreen: #00ca75;
$spDarkGray: #454342;
$spLightgray: #939598;
$spLightgrayA: #f3f4f4;
$spLightgrayB: #a3a3a3;
$spLightgrayC: #9ea1a0;
$spLightgrayD: #d3d3d3;
$spSuccess: #008000;
